@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: url("/background2.svg") center/cover no-repeat,
    url("/background.png") center/cover no-repeat,
    linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))),
    rgb(var(--background-start-rgb));
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  border-radius: 20px 20px 0 0;
}

h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

#border-card {
  border-radius: 20px;
  border-top: 2px solid rgba(36, 150, 255, 1);
  box-shadow: 0px -25px 40px 0px rgba(0, 64, 161, 1);
  /* height: 67vh; */
  /* overflow: scroll; */
}

#tab {
  background-color: #1f1f1f;
}

#tab .tab-active {
  background-color: #0e0e14;
}

.tender_cards {
  border-width: 2px 1px 0px 1px;
  border-style: solid;
  border-color: #fabb1e;
  box-shadow: 0px 8px 16px 0px #629ffb80;
  border-radius: 20px;
  border-radius: 20px;
}

.tender_cards img {
  box-shadow: 0px 0px 20px 0px #fabb1e;
}
